<div class="col card md-form" id="selectDetails">
    <p class="h3 mb-4 title">Edit your hero information</p>
    <p> id: {{hero.id}}</p>
    <i class="fas fa-user"></i> <input type="text" [(ngModel)]="hero.name" /> <br />
    <i class="fab fa-superpowers"></i><input type="text" [(ngModel)]="hero.description" /> <br />
    <i class="fab fa-gratipay"></i><input type="text" [(ngModel)]="hero.likes" /> <br />
    <div class="col">
        <button id="likeButton" type="button" class="btn btn-info btn-sm" (click)="action(true)">Save</button>
    </div>
</div>