<p>home-list works!</p>

<div class="row">
    <div class="col">
        <ul class="list-group">
            <li *ngFor="let hero of heros; let index = index" class="list-group-item" (click)="selectHero(hero)"
                [ngClass]="{'active': hero == selectedHero, disable: hero.disable==true }">
                <span class="id"> {{hero.id}}</span>
                {{hero.name}}
                <p class="id">{{hero.description}}</p>
                <span class="badge">{{hero.likes}}</span>
            </li>
        </ul>
    </div>

    <div class="col">
        <app-edit-hero *ngIf="selectHero" [hero]="selectedHero" (llamada)="recibirEmit($event)"></app-edit-hero>

    </div>

</div>